.library-categories{

display:flex;
flex-direction:column;

margin-top:10px;

}

.library-item{

padding:16px;

border-bottom:1px solid #222;

font-size:17px;

cursor:pointer;

}

.library-item:hover{

background:#111;

}

.library-section{

margin-top:30px;

}

.section-title{

font-size:18px;

font-weight:600;

margin-bottom:10px;

}

.horizontal-scroll{

display:flex;

gap:14px;

overflow-x:auto;

padding-bottom:10px;

}

.horizontal-scroll::-webkit-scrollbar{
display:none;
}