.songs-list {
    width:100%;
    display:flex;
    flex-direction:column;

    gap:10px;

    margin-top:20px;
    padding: 0 20px 120px 20px;
}

.songs-letter{
  scroll-margin-top:cal(var(--header-height) + 10px);
}

.loading{
    padding:40px;
    opacity:0.6px;
    padding:40px;
    text-align:center;
    color:#888;
}

.songs-end{

  text-align:right;
  padding:30px;
  margin-top:6px;
  margin-right:10px;
  color:#888;
  font-size:13px;

}

.alphabet-bar{

  position:fixed;

  right:6px;
  top:var(--header-height);
  bottom:120px;

  display:flex;
  flex-direction:column;

  justify-content:space-between;

  font-size:10px;

  color:#888;

  user-select:none;

}

.alphabet-letter{

  padding:1px 3px;

  line-height:1;

  cursor:pointer;

}

.alphabet-letter:hover{

  color:#1db954;
  transform:scale(1.15);

}

.error{

  color:#ff6b6b;

  text-align:center;

  padding:20px;

}