.picker-overlay{

  position:fixed;

  inset:0;

  background:rgba(0,0,0,.8);

  z-index:300;

  display:flex;

  justify-content:center;

  align-items:flex-start;

  padding-top:76px;
}

.picker-panel{

  width:min(92%,700px);

  height:calc(100vh - 254px);

  max-height:none;

  overflow:hidden;

  display:flex;
  flex-direction:column;

  background:#181818;

  border-radius:20px;
}

.picker-header{

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:18px 20px;

  font-size:20px;

  font-weight:700;

  gap:12px;
}

.picker-artist-filter{

  flex:1;

  height:36px;

  border:none;

  border-radius:10px;

  background:#242424;

  color:white;

  padding:0 12px;

  position:relative;
  top:10px;

}

.picker-header button{

  border:none;

  background:none;

  color:white;

  font-size:24px;

  cursor:pointer;
}

.picker-panel input{

  margin:0 20px 16px;

  height:48px;

  border:none;

  outline:none;

  border-radius:12px;

  background:#242424;

  color:white;

  padding:0 14px;

  font-size:16px;
}

.picker-results{

  flex:1;

  overflow-y:auto;

  padding-bottom:120px;

  scrollbar-width:none;
}

.picker-results::-webkit-scrollbar{
  display:none;
}

.picker-active{

  background:#1db95422;
}

.picker-entity-row{

  display:flex;
  align-items:center;

  gap:12px;

  padding:10px 14px;
}

.picker-entity-cover{

  width:56px;
  height:56px;

  border-radius:8px;

  object-fit:cover;

  flex-shrink:0;
}

.picker-entity-cover.no-cover{

  display:flex;
  justify-content:center;
  align-items:center;

  background:#222;
}

.picker-section{
  margin-bottom:24px;
}

.picker-section-title{
  font-size:1rem;
  font-weight:700;
  color:#b3b3b3;
  padding:10px 14px 6px;
}

.picker-entity-info{

  min-width:0;
}

.picker-entity-title{

  font-size:15px;
  font-weight:600;

  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.picker-entity-sub{

  font-size:13px;
  color:#999;
}